.idea
dmcl_examples.egg-info
dmcl_examples/__pycache__
dmcl_examples/data/FashionMNIST
dmcl_examples/data/MNIST
dmcl_examples/data/cifar-10-batches-py
dmcl_examples/data/cifar-10-python.tar.gz
dmcl_examples/datasets/__pycache__
dmcl_examples/datasets/noisy_xor/__pycache__
dmcl_examples/datasets/noisy_xor/data1/__pycache__
dmcl_examples/datasets/noisy_xor/data2/__pycache__
dmcl_examples/datasets/pima/__pycache__
dmcl_examples/datasets/pima/data1/__pycache__
dmcl_examples/datasets/pima/data2/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting1/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting1/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting1/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting3/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting3/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting3/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting4/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting4/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting4/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting5/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting5/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting5/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting6/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting6/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting6/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting7/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting7/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting7/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting8/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting8/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting8/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting9/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting9/mcmc/__pycache__
dmcl_examples/experiments/mlp/fashion_mnist/setting9/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/hawks/__pycache__
dmcl_examples/experiments/mlp/hawks/hmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/pilot/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting1/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting2/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting3/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting4/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting5/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting6/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting7/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting8/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting9/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting10/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting11/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting12/__pycache__
dmcl_examples/experiments/mlp/mnist/setting1/mcmc/gibbs/setting13/__pycache__
dmcl_examples/experiments/mlp/mnist/setting2/__pycache__
dmcl_examples/experiments/mlp/mnist/setting2/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting2/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting3/__pycache__
dmcl_examples/experiments/mlp/mnist/setting3/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting3/mcmc/dmcl/__pycache__
dmcl_examples/experiments/mlp/mnist/setting4/__pycache__
dmcl_examples/experiments/mlp/mnist/setting4/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting4/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting5/__pycache__
dmcl_examples/experiments/mlp/mnist/setting5/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting5/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting6/__pycache__
dmcl_examples/experiments/mlp/mnist/setting6/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting6/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting7/__pycache__
dmcl_examples/experiments/mlp/mnist/setting7/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting7/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting8/__pycache__
dmcl_examples/experiments/mlp/mnist/setting8/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting8/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting9/__pycache__
dmcl_examples/experiments/mlp/mnist/setting9/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting9/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/mnist/setting10/__pycache__
dmcl_examples/experiments/mlp/mnist/setting10/mcmc/__pycache__
dmcl_examples/experiments/mlp/mnist/setting10/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting1/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting1/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting1/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting2/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting2/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting2/mcmc/hmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting2/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting3/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting3/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting3/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting4/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting4/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting4/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting4/optim/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting4/optim/sgd/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting5/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting5/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting5/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting6/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting6/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting6/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting7/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting7/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting7/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting8/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting8/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting8/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting9/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting9/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting9/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting10/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting10/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting10/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting11/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting11/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting11/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting11/mcmc/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting11/mcmc/random_node_gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting12/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting12/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting12/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting13/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting13/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting13/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting14/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting14/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting14/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting15/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting15/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting15/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting16/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting16/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting16/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting17/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting17/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting17/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting18/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting18/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting18/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting19/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting19/mcmc/__pycache__
dmcl_examples/experiments/mlp/noisy_xor/setting19/mcmc/gibbs/__pycache__
dmcl_examples/experiments/mlp/penguins/__pycache__
dmcl_examples/experiments/mlp/penguins/hmc/__pycache__
dmcl_examples/experiments/mlp/penguins/metropolis_hastings/__pycache__
dmcl_examples/experiments/mlp/penguins/prior/__pycache__
dmcl_examples/inference/__pycache__
dmcl_examples/io/__pycache__
dmcl_examples/optim/__pycache__
dmcl_examples/stats/__pycache__
